<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">


 <!-- Top row with form-->
<div >

	<div  class="row" style="justify-content: center; align-items:center;">
	<div class="col-2 icon" >
		<a th:href="@{/ui/product}" title="Product">  <img th:src="@{/static/products.jpeg}" width="170px"  alt="Product Icon"> </a>
	</div>
	<div class="col-2 icon">
		<a th:href="@{/ui/order}" title="Order">  <img th:src="@{/static/order.jpeg}" width="170px" alt="Order Icon"> </a>
	</div>
		<br>
	</div>
	<div  class="row" style="justify-content: center; align-items:center;">
	<div class="col-2 icon" >
		<a th:href="@{/ui/brand}" title="Brand">  <img th:src="@{/static/brand.png}" width="170px" alt="Brand Icon"> </a>
	</div>

	<div class="col-2 icon">
		<a th:href="@{/ui/inventory}" title="Inventory">  <img th:src="@{/static/inventorycheck.jpeg}" width="170px" alt="Inventory Icon"> </a>
	</div>
	<div class="col-2 icon">
		<a th:href="@{/ui/admin}" title="Users"> <img th:src="@{/static/user.jpeg}" width="170px" alt="Users Icon"> </a>
	</div>
	</div>

</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>